.main-sidebar {
  min-width: 300px !important;
  min-height: 100vh;
  border: 1px solid;
  background-color: #354052;
}
.menu {
  padding-left: 0;
}
/* .menu li {
  padding: 15px;
} */
ul {
  list-style-type: none !important;
}
.carousel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.wrapper {
  max-width: 100% !important;
  margin: 0 !important;
  grid-row-gap: 0px;
}
/* .sidebar {
    padding: 5px 10px;
  } */
.wrapper * {
  font-size: 16px;
}
#main-menu .menu .menu-item .submenu-toggle-icon {
  position: absolute;
  right: 1px;
  top: 19px;
  transition: transform 0.25s ease;
  width: auto;
}
#main-menu .menu .menu-item {
  padding-right: 0px;
  position: relative;
}
#main-menu .menu .menu-item .submenu-toggle-icon {
  position: absolute;
  right: 1px;
  top: 19px;
  transition: transform 0.25s ease;
  width: 10%;
}
#main-menu .menu .menu-item.active:not(.expanded) .menu-icon {
  color: #fff;
}
/* .menu-item:active {
    background-color: #415677 !important;
  } */
#main-menu .menu .menu-item.active {
  background-color: #415677 !important;
}
.submenu {
  padding-left: 15px !important;
}

.menu-item a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  /* padding: 15px 100%; */
  display: block;
  width: 100%;
}
.menu-item a:hover {
  background-color: #415677;
}
.menu-item * {
  color: #fff;
}
#main-menu .menu .menu-icon {
  color: #fff;
}
#main-menu .menu .menu-item .submenu-toggle-icon {
  color: #fff;
}

.user-menu-wrapper .fa-user-circle,
.user-menu-wrapper .user-name {
  color: #fff !important;
}
.main-header {
  border: 1px solid;
  padding: 15px 50px;
  background-color: #354052;
}
.content-header {
  position: static;
}
.content-wrapper {
  margin-top: 0;
}
@media (min-width: 1024px) {
  .wrapper {
    width: 100%;
  }
  .content-wrapper {
    grid-template-columns: 10px auto 50px;
  }
}
